/node_modules
/public/hot
/public/storage
/public/attendance
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/photos
/public/payment_slip
/public/result_document
/public/attendance
/public/admission_attach
/public/js/app.js
/public/diploma_student.apk
/public/isdbbisew-6098d57666ae.json
