/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
/public/recovered_by_type
/public/attendance
/public/js/app.js
/public/diploma_student.apk
/public/isdbbisew-6098d57666ae.json
