@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/components/modal.sass"

ul, ol
    padding: 0
    li
        padding: 0 1rem!important

.modal
    display: flex
    &-content
        align-content: center
        width: max-content
    &-card
        &-head
            text-align: center
            display: flex
            justify-content: center
        &-foot
            display: flex
            justify-content: center
.modal-card-foot
    button
        background-color: green
        display: inline-block
        font-weight: 400
        line-height: 1.5
        color: black
        text-align: center
        text-decoration: none
        vertical-align: middle
        cursor: pointer
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        background-color: transparent
        border: transparent
        padding: 0.375rem 0.75rem
        font-size: 1rem
        border-radius: 0.25rem
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

        &:first-child
            color: #fff
            background-color: #198754
            border-color: #198754
        &:last-child
            color: #fff
            background-color: #be2626
            border-color: #be2626


.c-chat-widget-button
    border-radius: 999px
    bottom: 50px
    cursor: pointer
    height: 50px
    line-height: 50px
    padding: 0
    position: fixed
    right: 50px
    text-align: center
    width: 50px
    z-index: 5050

#chat
    font-family: arial
    .c-chat
        &-widget
            bottom: calc(30px + 30px + 50px)
            display: block
            opacity: 0
            position: fixed
            right: 50px
            transform: translate(100%, 100%)
            transition: .5s
            z-index: 5000
            &.show
                opacity: 1
                transform: translate(0)
            &-container
                background: #eee
                box-shadow: 0 10px 30px rgba(#000, .2)
                overflow: scroll
                max-height: 300px
                width: 500px

                &-main
                    overflow-x: scroll
                    overflow-y: hidden
            &-header
                background: #007bff
                color: #fff
                padding: 5px 8px
                position: relative
                width: 100%
                overflow: hidden

            &-footer
                padding: 10px 15px
                overflow: hidden
                margin-top: 1vh
                background-color: rgba(120,120,120,.5)

            &-text
                border: 1px solid #eee
                border-radius: 3px
                height: 64px
                outline: none !important
                padding: 4px 1px
                width: 100%
                vertical-align: middle

            &-bubble
                background: #fff
                border-radius: 3px
                box-shadow: 0 3px 10px rgba(#000, .1)
                margin-bottom: 15px
                max-width: 100%
                padding: 10px 15px
                &-icon
                    border-radius: 3px
                    color: #aaa
                    display: inline-block
                    flex: 0 0 30px
                    font-size: 12px
                    font-weight: 900
                    margin-right: 10px
                    text-align: center
                    vertical-align: middle
                &-text
                    border-left: 2px solid #aaa
                    display: block
                    margin-top: 15px
                    padding: 10px 20px
                    vertical-align: middle


.chat-active
    //#border-color: #828282!important
    border-style: groove!important
    //#border-radius: 2rem!important
    border-width: .25rem!important
